@using School_Manager.Core.Services.Interfaces
@using School_Manager.Core.ViewModels.FModels
@inject ISchoolService SchoolService
@inject IBillService BillService
@inject IDriverService DriverService
@model List<ChildInfo>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "🔎 جستجو پیشرفته راننده";
}
<div class="card bg-dark text-white shadow-lg rounded-4 border-primary border-2">
    <div class="card-header bg-primary bg-gradient d-flex justify-content-between align-items-center">
        <h4 class="mb-0 fw-bold">
            <i class="bi bi-people-fill me-2"></i> 🔎 جستجو راننده
        </h4>
    </div>
    <div class="card-body">
        <div class="container">
            @* جستجو راننده *@
            <form method="post" id="DriverPnl" asp-action="Driver" style="visibility:visible;display:none">
                <div class="row mb-4">
                    <div class="col-sm">
                        <label class="form-label fw-bold">نام</label>
                        <input name="FirstName" type="text" class="form-control price-separator" />
                    </div>
                    <div class="col-sm">
                        <label class="form-label fw-bold">نام خانوادگی</label>
                        <input name="LastName" type="text" class="form-control price-separator" />
                    </div>
                    <div class="col-sm">
                        <label class="form-label fw-bold">کدملی</label>
                        <input name="NationalCode" type="text" class="form-control price-separator" />
                    </div>
                    <div class="col-sm">
                        <label class="form-label fw-bold">موبایل</label>
                        <input name="Mobile" type="text" class="form-control price-separator" />
                    </div>
                </div>
                <div class="row justify-content-center container">
                    <button type="submit" class="col-4 btn btn-warning fw-bold">🔎 جستجو</button>
                </div>
            </form>
            @* جستجو خانواده *@
            <form method="post" id="ParentPnl" asp-action="Parent" style="visibility:visible;display:none">
                <div class="row mb-4">
                    <div class="col-sm">
                        <label class="form-label fw-bold">نام</label>
                        <input name="FirstName" type="text" class="form-control price-separator" />
                    </div>
                    <div class="col-sm">
                        <label class="form-label fw-bold">نام خانوادگی</label>
                        <input name="LastName" type="text" class="form-control price-separator" />
                    </div>
                    <div class="col-sm">
                        <label class="form-label fw-bold">کدملی</label>
                        <input name="NationalCode" type="text" class="form-control price-separator" />
                    </div>
                    <div class="col-sm">
                        <label class="form-label fw-bold">موبایل</label>
                        <input name="Mobile" type="text" class="form-control price-separator" />
                    </div>
                </div>
                <div class="row justify-content-center container">
                    <button type="submit" class="col-4 btn btn-warning fw-bold">🔎 جستجو</button>
                </div>
            </form>
            @* جستجو دانش آموزان *@
            <form method="post" id="ChildPnl" asp-action="Child" style="visibility:visible;display:inline">
                <div class="row mb-4">
                    <div class="col-sm">
                        <label class="form-label fw-bold">نام</label>
                        <input name="FirstName" type="text" class="form-control price-separator" />
                    </div>
                    <div class="col-sm">
                        <label class="form-label fw-bold">نام خانوادگی</label>
                        <input name="LastName" type="text" class="form-control price-separator" />
                    </div>
                    <div class="col-sm">
                        <label class="form-label fw-bold">کدملی</label>
                        <input name="NationalCode" type="text" class="form-control price-separator" />
                    </div>
                </div>
                <div class="row justify-content-center container">
                    <button type="submit" class="col-4 btn btn-warning fw-bold">🔎 جستجو</button>
                </div>
            </form>
        </div>
        <select id="PDropBox">
            <option value="Child" selected>دانش آموزان</option>
            <option value="Parent">خانواده</option>
            <option value="Driver">راننده</option>
        </select>
        <div class="table-responsive">
            <table class="table table-dark table-hover table-bordered align-middle text-center rounded-3 overflow-hidden">
                <thead class="table-light text-dark">
                    <tr>
                        <th>#ردیف</th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>کدملی</th>
                        <th>وضعیت پرداختی</th>
                        <th>تعداد قبض</th>
                        <th>راننده</th>
                        <th>مدرسه</th>
                        <th>نمایش</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var SelectedModel = Model[i];
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@SelectedModel.FirstName</td>
                            <td>@SelectedModel.LastName</td>
                            <td>@SelectedModel.NationalCode</td>
                            <td>
                                @if(SelectedModel.HasPaid)
                                {
                                    <i class="badge bg-success">پرداخت شده</i>
                                }
                                else
                                {
                                    <i class="badge bg-danger">پرداخت نشده</i>
                                }
                            </td>
                            <td>
                                @{
                                    int BillCount = BillService.GetChildBills(SelectedModel.Id).Result.Count;
                                    if(BillCount > 0){
                                        <i class="badge bg-info">@BillCount</i>
                                    }
                                    else{
                                        <i class="badge bg-danger">قبضی صادر نشده</i>
                                    }
                                }
                            </td>
                            <td>@(SelectedModel.DriverId>0?DriverService.GetDriver((long)SelectedModel.DriverId):"راننده ندارد")</td>
                            <td>@(SelectedModel.SchoolId.HasValue?SchoolService.GetSchool((long)SelectedModel.SchoolId).Name:"ندارد")</td>
                            <td class="row container">
                                @if (SelectedModel.DriverId > 0)
                                {
                                    <form asp-controller="Driver" asp-action="Details">
                                        <input type="hidden" name="id" value="@SelectedModel.SchoolId" />
                                        <button class="btn btn-sm btn-outline-info" type="submit">
                                            <i class="bi bi-file-earmark-text"></i> نمایش مدرسه
                                        </button>
                                    </form>
                                }
                                <form asp-controller="School" asp-action="Details">
                                    <input type="hidden" name="id" value="@SelectedModel.SchoolId"/>
                                    <button class="btn btn-sm btn-outline-info" type="submit">
                                        <i class="bi bi-file-earmark-text"></i> نمایش مدرسه
                                    </button>
                                </form>
                                <form asp-controller="Parents" asp-action="CreateBill" method="post" class="d-inline">
                                    <input name="ChildId" type="hidden" value="@SelectedModel.Id" />
                                    <button class="btn btn-sm btn-outline-warning" type="submit">
                                        <i class="bi bi-file-earmark-text"></i> صدور
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        const ParentPnl = document.getElementById('ParentPnl');
        const ChildPnl = document.getElementById('ChildPnl');
        const DriverPnl = document.getElementById('DriverPnl');
        document.getElementById('PDropBox').addEventListener('change', function()
        {
            const Selectedvalue = this.value;
            if(Selectedvalue == "Driver"){
                ParentPnl.style.display = "none";
                ChildPnl.style.display = "none";
                DriverPnl.style.display = "inline";
            }
            if(Selectedvalue == "Parent"){
                DriverPnl.style.display = "none";
                ChildPnl.style.display = "none";
                ParentPnl.style.display = "inline";
            }
            if(Selectedvalue == "Child"){
                ParentPnl.style.display = "none";
                DriverPnl.style.display = "none";
                ChildPnl.style.display = "inline";
            }
        });
    </script>
}