@using School_Manger.Models
@model List<Driver>
@{
    ViewData["Title"] = "مدیریت رانندگان";
    Layout = "_AdminLayout";
}

<div class="card bg-dark text-white">
    <div class="card-header bg-primary">
        <h4 class="mb-0">لیست رانندگان</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>خودرو</th>
                        <th>شماره پلاک</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model[i].Name</td>
                                <td>@Model[i].LastName</td>
                                <td>@Model[i].Car.Name</td>
                                <td>@Model[i].Car.PlateNumber</td>
                                <td>
                                <a asp-action="Details" asp-controller="Driver" asp-area="Admin" asp-route-id="@Model[i].Id"
                                   class="btn btn-sm btn-info">
                                        <i class="bi bi-eye"></i> جزئیات
                                    </a>
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>