@using School_Manager.Core.Services.Interfaces
@inject ISettingService setting

@{
    var FullLocation = setting.Get("CompanyLocation");
    var Lat = "";
    var Lng = "";

    if (!string.IsNullOrEmpty(FullLocation))
    {
        var parts = FullLocation.Split(",");
        if (parts.Length >= 2)
        {
            Lat = parts[0];
            Lng = parts[1];
        }
    }
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<style>
    #map {
        height: 350px;
        margin-bottom: 20px;
        border: 2px solid #ccc;
        border-radius: 10px;
    }
</style>

<input type="hidden" id="Lat1" value="@Lat" />
<input type="hidden" id="Lng1" value="@Lng" />

<footer class="bg-black text-white-50 small py-2 border-top border-secondary mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="col-md-6 text-center text-md-start">
                    © @DateTime.Now.Year @setting.Get("CompanyName")
                </div>
                <div class="col-md-6 text-center text-md-start">
                    <div id="map"></div>
                </div>
            </div>
            <div class="col-6">
                <div class="col-md-6 text-center text-md-start">
                    آدرس شرکت : @setting.Get("CompanyAddress")
                </div>
                <div class="col-md-6 text-center text-md-start">
                    شماره تماس ثابت : @setting.Get("CompanyStaticPhone")
                </div>
                <div class="col-md-6 text-center text-md-start">
                    شمار همراه : @setting.Get("CompanyPhone")
                </div>
                <a referrerpolicy='origin' target='_blank' href='@setting.Get("Enamad1")'>
                    <img referrerpolicy='origin' src='@setting.Get("Enamad2")' alt='' style='cursor:pointer' code='@setting.Get("EnamadCode")'>
                    </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center text-md-end">
        <b>طراحی</b> <a href="http://arkasoftarak.ir/" target="_blank" class="text-info"><strong>آرکاسافت</strong></a>
        <b>شماره پیشتیبانی</b> : <b>+98 9125482286</b>
    </div>
</footer>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const lat = parseFloat(document.getElementById("Lat1").value);
        const lng = parseFloat(document.getElementById("Lng1").value);

        if (!isNaN(lat) && !isNaN(lng)) {
            const map = L.map("map").setView([lat, lng], 16);

            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                maxZoom: 19,
            }).addTo(map);

            L.marker([lat, lng])
                .addTo(map)
                .bindPopup('<div class="bg-success">موقعیت شرکت</div>')
                .openPopup();
        }
    });
</script>