@using School_Manger.Models
@model List<Parent>
@{
    ViewData["Title"] = "مدیریت والدین";
    Layout = "_AdminLayout";
}

<div class="card bg-dark text-white">
    <div class="card-header bg-primary">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0">لیست والدین</h4>
            <a href="/Admin/Parent/Create" class="btn btn-success">
                <i class="bi bi-plus-circle me-2"></i> والد جدید +
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>کد ملی</th>
                        <th>تعداد فرزندان</th>
                        <th>وضعیت</th>
                        <th>وضعیت پرداختی</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@Model[i].ParentFirstName</td>
                            <td>@Model[i].ParentLastName</td>
                            <td>@Model[i].ParentNationalCode</td>
                            <td>@Model[i].Children.Count</td>
                            <td><span class="badge bg-success">@{string Active = Model[i].Active ? "فعال" : "غیرفعال";}@Active</span></td>
                            <td><span class="badge bg-danger">@Model[i].TotalPrice</span></td>
                            <td>
                                <a asp-action="Details" asp-controller="Parents" asp-route-id="@Model[i].Id" class="btn btn-sm btn-primary">
                                    <i class="bi bi-pencil">نمایش</i>
                                </a>
                                <a href="/Admin/Parent/Edit/1" class="btn btn-sm btn-warning">
                                    <i class="bi bi-pencil">تغییر</i>
                                </a>
                                <button class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash">حذف</i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section PageScripts {
    <script>
        $(document).ready(function() {
            // Parent-specific scripts here
        });
    </script>
}